/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 183, 252);
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  main {
    max-width: 500px;
    padding: 3rem;
  }


body {

  font-family: Arial, Helvetica, sans-serif;
}



.drinks{
  display: flex;
  flex-wrap: wrap;
  background-color: #88778f;
  align-items: center;
  padding: rem;
  border-radius: 0.7rem;
}
.coffee{
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 7000px;
  height: 200px;
  object-fit: cover;


}
.hot-drinks{
  font-size: 0.6rem;
  margin: 0.2rem;
}
.purchase {
  margin-top: 1rem;
}
.btn {
  margin-top: rem;
  background-color: #a77db8;
  color: #000;
  height: 2rem;
  margin: 0.5rem;
  padding: 10px 100px;
  border-radius: 0.8rem;
  text-decoration: none;
 
}
.price{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
}
.cappa{
font-size: 0.9rem;
margin: 0.3rem;
align-items: center;
}

.description{
  font-size: 0.7rem;
  margin: 0.3rem;
  align-items: center;
}



